[Desktop Entry]
Version=1.0
Name=Otp Login Settings
Name[tr]=Otp Giriş Ayarları
Type=Application
Comment=Otp key settings
Comment[tr]=Otp anahtar ayarları
Terminal=false
Exec=python3 /usr/share/etap/eta-otp/main.py
Icon=eta-otp
Categories=Settings;X-Pardus-Apps;
